@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: #f6f7f8;
  --foreground: #1a1a1a;
}

[data-theme='dark'] {
  --background: #1a1a1a;
  --foreground: white;
}

::selection {
  background-color: #1a1a1a;
  color: #fefefe;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

